// main color of the page
$mainColor: #d81e06;
//hr color
$lineColor:#e5e5e5;
$bgColor:#f5f5f5;
$buttonBgColor:#d81e06;
$hintColor:#999999;
$textColor: #333333;

// Lidl Palette
// $mainColor: #d81e06;
// $buttonBgColor:#005BA2;
// $fontCoBig:#005BA2;
// $fontCoMark:#d81e06;
// $bgColor:#FEF100;
// $OtherColor:#ED1D25;